
.list-view {
    -fx-border-width: 1;
    -fx-background-color: -lighter-charcoal;
    -fx-border-color: -light-grey;
}

.context-menu {
    -fx-background-color: -charcoal;
}

.context-menu .menu-item:hover {
    -fx-background-color: -theme-color;
}

.context-menu .menu-item:focused {
    -fx-background-color: -theme-color;
}

.list-cell:filled:selected {
    -fx-background-color: -theme-color;
}

.list-cell:filled:hover {
    -fx-background-color: -theme-color-light;
}

.list-cell:odd {
    -fx-background-color: -lighter-charcoal;
}

.list-cell:even {
    -fx-background-color: -lighter-charcoal;
}