* {
    -lighter-grey : #999999;
    -light-grey : #8f8f8f;
    -grey : #737373;
    -darker-grey : #5c5c5c;

    -lighter-charcoal : #3f3f45;
    -charcoal : #29292D;
    -purple : #6622CC;

    -blue : #167db5;
    -light-blue : #19abfa
}

.root {
    -fx-background-color: -lighter-charcoal;
}

.button {
    -fx-text-fill: white;

    -fx-background-color: -charcoal;
    -fx-background-radius: 3;
    -fx-background-insets: 1;
    -fx-border-color: -light-grey;
    -fx-border-width: 1;
    -fx-border-radius: 3;
}

.button:hover {
    -fx-background-color: -light-grey;
}

#action-button {
    -fx-background-color: -blue;
    -fx-border-color: -light-blue;
}

#action-button:hover {
    -fx-background-color: -light-blue;
}

.text-field {
    -fx-background-color: -light-grey;
    -fx-background-radius: 3;

    -fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-font-style: bold;
}

.text-area {
    -fx-font-size: 12pt;
    -fx-background-color: -light-grey;
    -fx-background-radius: 3;
    -fx-text-fill: white;
}

.text-area .scroll-pane {
    -fx-background-color: -light-grey;
    -fx-background-radius: 3;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: -light-grey;
    -fx-background-radius: 3;
}

.text-area .scroll-pane .content{
    -fx-background-color: -light-grey;
    -fx-background-radius: 3;
}



