* {
    -lighter-grey : #999999;
    -light-grey : #8f8f8f;
    -grey : #737373;
    -darker-grey : #5c5c5c;

    -light-charcoal : #4f4f57;
    -lighter-charcoal : #3f3f45;
    -charcoal : #29292D;
    -light-purple : #A76CFF;
    -purple : #6622CC;

    -blue : #167db5;
    -light-blue : #19abfa;

    -light-orange : #FF9853;
    -orange : #CC6622;

    -theme-color : -purple;
    -theme-color-light : -light-purple;

    -accent : -blue;
    -accent-light : -light-blue;
}

.root {
    -fx-background-color: -lighter-charcoal;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-text-fill: white;

    -fx-background-color: -charcoal;
    -fx-background-radius: 3;
    -fx-background-insets: 1;
    -fx-border-color: -light-grey;
    -fx-border-width: 1;
    -fx-border-radius: 3;
}

.button:hover {
    -fx-background-color: -light-grey;
}

#action-button {
    -fx-background-color: -accent;
    -fx-border-color: -accent-light;
}

#action-button:hover {
    -fx-background-color: -accent-light;
}

.text-field {
    -fx-background-color: -light-grey;
    -fx-background-radius: 3;

    -fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}

.text-area {
    -fx-font-size: 12pt;
    -fx-background-color: -light-grey;
    -fx-background-radius: 3;
    -fx-text-fill: white;
}

.text-area .scroll-pane {
    -fx-background-color: -light-grey;
    -fx-background-radius: 3;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: -light-grey;
    -fx-background-radius: 3;
}

.text-area .scroll-pane .content{
    -fx-background-color: -light-grey;
    -fx-background-radius: 3;
}


#checkable-label {
    -fx-background-color: -accent-light;
    -fx-background-radius: 6;
}



